// // // // variables //
$green: #00ff00;
$light-green: #289028;
$dark-green: #004c00;
$darker-green: #003b00;
$black: #000000f0;
// // // // null //
*, *::before, *::after {
    margin: 0;
    padding: 1%; // PADDING
    border: 0;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    scroll-behavior: smooth;
    background-color: $black; // BGC
}

nav, footer, header, aside {
    display: block;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

// // // root //
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// // component header // //
.header {
    &__nav {
        background-color: $green;
    }

    &__logo {
        font-size: 2rem;
        font-weight: bold;
    }
}

// // component footer // //
.footer {
    background-color: $green;

    &__container { }

    &__text { }

    &__link { }
}

// // view App // //
.App {
    flex: 1 0;
}

// component Search // // //
.search {
    background-color: $dark-green;

    &__input {
        color: $green;
        background-color: $light-green;
        border: solid 1px $black;
    }

    &__language {
        input { }

        span {
            color: $green;
        }
    }

    &__btn {
        color: $green;
        background-color: $darker-green;
    }

    &__btn:hover {
        background-color: $dark-green;
    }
}

// component Cards // // //
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    color: $green;
    background-color: $darker-green;

    img { }

    &__content { }

    &__title { }

    &__popularity { }

    &__release { }

    &__overview { }
}
